.bruhhhssss {
  .modal-content {
    /* background-color: #02293a!important; */
    color: white !important;
    /* From https://css.glass */
    background: rgba(5, 48, 83, 0.477) !important;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(4, 41, 68, 0.07);
  }

  .modalbutnnnnnn {
    //   position: absolute;
    //   border-radius: 20px 0px 0px 0px;
    width: fit-content;
    height: fit-content;
    color: #FCA41C ;
    font-size: 33px;
    //   display: flex;
    align-items: center;
    justify-content: center;
    /* From https://css.glass */
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover {
    //   background: rgba(0, 0, 0, 0.3);
    }
    
  }

  .hehe[type="radio"] {
    display: none;
  }

  .ssttarr {
    cursor: pointer;
    margin: 0px 2px 0px 2px;
  }
  .ratingLabel {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .bottanoo {
    width: 200px;
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 2px solid #83e3ec !important;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent !important;
    color: #83e3ec !important;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    cursor: pointer;
  }

  .bottanoo:hover {
    color: white !important;
    background: #0c7592 !important;
    box-shadow: 0 0 30px 5px rgba(#0c7592, 0.815) !important;
    border: 2px solid #0c7592 !important;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  .bottanoo:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }

  .bottanoo::before {
    content: "";
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }

  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }

    50% {
      opacity: 1;
    }

    to {
      opacity: 0;
      left: 100%;
    }
  }

  .bottanoo:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  .btn-close {
    --bs-btn-close-bg: url("./188sk30b3lt8bdk6jkfputka5t-fbfec1e2ce566f525c83db1cd6412b3d.png") !important;
  }

  .modal-content {
    /* background-color: #02293a!important; */
    color: white !important;
    background: rgba(#00222c, 0.477) !important;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(4, 41, 68, 0.07);
  }
  .cateGGGGGory {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #dropdown-basic {
    background-color: white;
    border-color: white;
    color: #212529;
  }
}
