.favPicture {
  background: url(https://wallpapercave.com/wp/wp4489084.jpg);
  background-position: -500px;
  background-size: cover;
  box-shadow: -1200px -1000px 200px 400px rgba(#001319, 0.95) inset;
  -webkit-box-shadow: -1200px -1000px 200px 400px rgba(#001319, 0.95) inset;
  -moz-box-shadow: -1200px 1000px 200px 400px rgba(#001319, 0.95) inset;
}

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@500&family=Inclusive+Sans&family=Jost:wght@200&family=Merriweather+Sans:wght@300&family=Noto+Serif:ital@1&family=Oswald&family=Poppins:wght@100;300;400;800&display=swap");

.favCategoryyyy {
  margin: 100px;
  text-align: center;
  font-size: 100px;
  font-weight: 200;
  letter-spacing: 10px;
  //   background: linear-gradient(45deg, #001319, #0a90b8);
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
  font-family: "Encode Sans Condensed", sans-serif;
  font-family: "Inclusive Sans", sans-serif;
  font-family: "Jost", sans-serif;
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Noto Serif", serif;
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
}
