.waves {
  width: 100%;
  height: 100px;
}

.swiper-box {
  // rotate: 180deg;
  background-color: #fff;
  color: #000;
  .swiper-title {
    h2 {
      margin-bottom: 30px;
      padding: 100px 0 0 0;
      font-size: 72px;
      color: #001319;
      font-style: italic;
      font-weight: 700;
      font-family: "Unna", serif;
      text-align: end;
      width: 90%;
    }
  }

  .swiper {
    width: 70%;
    height: 80%;
    z-index: 0;
    // margin: 200px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiperContain {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 200px;
    width: 100%;
    height: 600px;
    position: relative;

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1005%26quot%3b)' fill='none'%3e%3cpath d='M1440 0L1044.28 0L1440 69.93z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1044.28 0L1440 69.93L1440 192.11L934.77 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M934.77 0L1440 192.11L1440 399.41L405.15 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M405.1500000000001 0L1440 399.41L1440 486.25L306.8900000000001 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L540.08 560L0 360.34000000000003z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 360.34000000000003L540.08 560L674.8100000000001 560L0 260.29z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 260.29L674.8100000000001 560L1111.1200000000001 560L0 139.31z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 139.31L1111.1200000000001 560L1303.5300000000002 560L0 92.34z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1005'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: 100% 100%;
}
.restChoice {
  background: url("../../../assets/restchoice.avif");
  background-size: cover;
  background-position: center;
  box-shadow: 800px 0px 159px 50px rgba(0, 0, 0, 0.74) inset;
  -webkit-box-shadow: 800px 0px 159px 50px rgba(0, 0, 0, 0.74) inset;
  -moz-box-shadow: 800px 0px 159px 50px rgba(0, 0, 0, 0.74) inset;
}
.hotelChoice {
  background: url("../../../assets/hotelchoice.avif");
  background-size: cover;
  background-position: center bottom -200px;
  box-shadow: 800px 0px 159px 50px rgba(0, 0, 0, 0.74) inset;
  -webkit-box-shadow: 800px 0px 159px 50px rgba(0, 0, 0, 0.74) inset;
  -moz-box-shadow: 800px 0px 159px 50px rgba(0, 0, 0, 0.74) inset;
}
.activChoice {
  background: url("../../../assets/activchoice.avif");
  background-size: cover;
  background-position: center bottom -200px;
  box-shadow: 800px 0px 159px 50px rgba(0, 0, 0, 0.74) inset;
  -webkit-box-shadow: 800px 0px 159px 50px rgba(0, 0, 0, 0.74) inset;
  -moz-box-shadow: 800px 0px 159px 50px rgba(0, 0, 0, 0.74) inset;
}

  .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    background-color: white;
  }
  .noneGlassContain {
    width: 60%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    margin-left: 200px;
    color: #fff;

    h2 {
      font-size: 60px;
      font-family: "Unna", serif;
    }
    p {
      font-size: 18px;
      width: 600px;
      text-align: start;
    }
    button {
      position: relative;
      padding: 10px 20px;
      border-radius: 7px;
      border: 2px solid #fca41c;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 2px;
      background: transparent;
      color: #fff;
      overflow: hidden;
      box-shadow: 0 0 0 0 transparent;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      cursor: pointer;
      align-self: flex-end;
    }

    button:hover {
      background: #fca41c;
      box-shadow: 0 0 30px 5px rgba(#fca41c, 0.815);
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
    }

    button:hover::before {
      -webkit-animation: sh02 0.5s 0s linear;
      -moz-animation: sh02 0.5s 0s linear;
      animation: sh02 0.5s 0s linear;
    }

    button::before {
      content: "";
      display: block;
      width: 0px;
      height: 86%;
      position: absolute;
      top: 7%;
      left: 0%;
      opacity: 0;
      background: #fff;
      box-shadow: 0 0 50px 30px #fff;
      -webkit-transform: skewX(-20deg);
      -moz-transform: skewX(-20deg);
      -ms-transform: skewX(-20deg);
      -o-transform: skewX(-20deg);
      transform: skewX(-20deg);
    }

    @keyframes sh02 {
      from {
        opacity: 0;
        left: 0%;
      }

      50% {
        opacity: 1;
      }

      to {
        opacity: 0;
        left: 100%;
      }
    }

    button:active {
      box-shadow: 0 0 0 0 transparent;
      -webkit-transition: box-shadow 0.2s ease-in;
      -moz-transition: box-shadow 0.2s ease-in;
      transition: box-shadow 0.2s ease-in;
    }
  }

.swiper_slider {
  display: flex;
  flex-direction: column;
}
.swiper-backface-hidden .swiper-slide {
  display: flex;
  justify-content: flex-start;
  border-radius: 200px 0;
}

}
