.hotel-container {
    position: relative;
    height: 100vh;
    overflow: visible;
  
    .parallax-bg {
      width: 100%;
      height: 100vh;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
      &.hero-section {
        background-image: url('../../assets/homeBg.jpg');
        display: flex;
        justify-content: left;
        align-items: center;
        ;
  
        .hero-content {
          display: flex;
          align-items: center ;
          text-align: center;
          color: #fff;
          
  
          .hero-text {
            margin-left: 20px; 
            margin-top: 20px
  
            p {
              font-size: 1.5rem;
            }
  
            h1 {
              font-size: 3rem;
              margin-top: 10px;
            }
          }
  
          .view-rooms-button {
            margin-left: 20px; 
  
            a {
              padding: 10px 20px;
              background-color: #fff;
              color: #333;
              text-decoration: none;
              font-size: 1rem;
              border-radius: 4px;
              cursor: pointer;
              transition: background-color 0.3s ease-in-out;
  
              &:hover {
                background-color: #FCA41C;
              }
            }
          }
        }
      }
  
      &.cards-section {
        background-image: url('your-cards-section-image.jpg');
        display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      }
    }
  
    .hotel-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px;
  
    }
    
      
  }
  .custom-card {
    display: grid;
    place-items: center;
    width: 70vw;
    margin: 200px;
    max-width: 21.875rem;
    height: 28.125rem;
    overflow: hidden;
    border-radius: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  }
  
  .custom-card > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .custom-card__background {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
  }
  
  .custom-card__content {
    --flow-space: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    height: 55%;
    padding: 12% 1.25rem 1.875rem;
    background: linear-gradient(
      180deg,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.3) 10%,
      #FCA41C 100%
    );
  }
  
  .custom-card__content--container {
    --flow-space: 1.25rem;
  }
  
  .custom-card__title {
    position: relative;
    width: fit-content;
    width: -moz-fit-content; 
  }
  
  .custom-card__title::after {
    content: "";
    position: absolute;
    height: 0.3125rem;
    width: calc(100% + 1.25rem);
    bottom: calc((1.25rem - 0.5rem) * -1);
    left: -1.25rem;
    background-color: var(--brand-color);
  }
  
  .custom-card__button {
    padding: 0.75em 1.6em;
    width: fit-content;
    width: -moz-fit-content; 
    font-variant: small-caps;
    font-weight: bold;
    border-radius: 0.45em;
    border: none;
    outline: 5px solid transparent;
    background-color: var(--black);
    font-family: var(--font-title);
    font-size: 1.125rem;
    color: var(--white); 
    position: relative;
}

.custom-card__button:focus {
    outline: 5px solid rgb(0, 0, 0);
    outline-offset: -5px;
}

.custom-card__button:focus::before {
    content: '';
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 0.5em;
    pointer-events: none;
}

  
  @media (any-hover: hover) and (any-pointer: fine) {
    .custom-card__content {
      transform: translateY(62%);
      transition: transform 500ms ease-out;
      transition-delay: 500ms;
    }
  
    .custom-card__title::after {
      opacity: 0;
      transform: scaleX(0);
      transition: opacity 1000ms ease-in, transform 500ms ease-out;
      transition-delay: 500ms;
      transform-origin: right;
    }
  
    .custom-card__background {
      transition: transform 500ms ease-in;
    }
  
    .custom-card__content--container > :not(.custom-card__title),
    .custom-card__button {
      opacity: 0;
      transition: transform 500ms ease-out, opacity 500ms ease-out;
    }
  
    .custom-card:hover,
    .custom-card:focus-within {
      transform: scale(1.05);
      transition: transform 500ms ease-in;
    }
  
    .custom-card:hover .custom-card__content,
    .custom-card:focus-within .custom-card__content {
      transform: translateY(0);
      transition: transform 500ms ease-in;
    }
  
    .custom-card:focus-within .custom-card__content {
      transition-duration: 0ms;
    }
  
    .custom-card:hover .custom-card__background,
    .custom-card:focus-within .custom-card__background {
      transform: scale(1.3);
    }
  
    .custom-card:hover .custom-card__content--container > :not(.custom-card__title),
    .custom-card:hover .custom-card__button,
    .custom-card:focus-within .custom-card__content--container > :not(.custom-card__title),
    .custom-card:focus-within .custom-card__button {
      opacity: 1;
      transition: opacity 500ms ease-in;
      transition-delay: 1000ms;
    }
  
    .custom-card:hover .custom-card__title::after,
    .custom-card:focus-within .custom-card__title::after {
      opacity: 1;
      transform: scaleX(1);
      transform-origin: left;
      transition: opacity 500ms ease-in, transform 500ms ease-in;
      transition-delay: 500ms;
    }
    
  }
  