@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$base-spacing-unit: 24px;
$half-spacing-unit: calc($base-spacing-unit / 2);

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;






.table-container {
   
	max-width: 95%;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	// height:90vh;
    overflow-y: scroll;
    // overflow-x: scroll;

    background-color: #0013192a ;
    margin-top: 60px;
    border-radius: 10px;
position:relative;
scroll-behavior: smooth;

}

.table {
// width: 100%;
	border:none ;
    border-radius: 10px;
	// min-height:80vh;
	height:69vh;

   
    // background-color: #001319 ;


}

.table-header {
    position: fixed;
    top:140px;
	display:flex;
	width:80%;
	background:#001319  ;
	padding:($half-spacing-unit * 1.5) 0;
    // color: #1772FF;
    height: 90px;
    border-radius: 10px 10px 0 0 ;
    z-index: 2;
    border:  solid #ffffff47;
    border-bottom: none;

   
}


.table-row {
    // position: relative;
	display:flex;
    // background-color: #001319 ;
    border-top: 1px solid #fca21c ;

	width:100%;
	padding:($half-spacing-unit * 1.5) 0;
	
	// &:nth-of-type(odd) {
	// 	background:$color-form-highlight;
    // background-color: #001319 ;

	// }
    // &:nth-of-type(even) {
	// 	background:$color-form-highlight;
    // background-color: #ffffff ;

	// }
}
.table-row:hover{
    background-color: #ffffff2a;
    cursor: pointer;
    .table-data{
    background-color: #ffffff00 !important;
    color: #fca21c !important;

    }
}


.table-data, .header__item {
   
	flex: 1 1 10%;
	text-align:center;
    background-color: #001319 !important;
    background-color: #00131900  !important;

    color: #ffffff !important;
    align-self: center;
    font-size: 20px;
}
.table-data:hover{
    // background-color: #00293e !important;

}
.header__item {
	text-transform:uppercase;
    background-color: #ffffff00  !important;
    border-radius: 10px 10px 0 0 ;
    color: #fca21c !important;
    align-self: center;
  font-family: "Playfair", serif;
  font-size: 18px;
  font-weight: 600;}


  .css-137ul40-MuiButtonBase-root-MuiIconButton-root{
    background-color: #00131900 !important;
    position: absolute !important;
    right: 0;
    // top: 70px;
    
 }
 .css-5nwj3y{
    background-color: #eeeeee00 !important;
    
 }

 .options-bttnn{
    font-size:36px !important;
    color: aliceblue !important;
    padding-bottom: 100px !important;
    padding-top: 30px !important;
   
      background-color: rgba(240, 248, 255, 0) !important;
    //   padding: 0 30px 100px 30px !important;
    .svg-inline--fa{
        color: aliceblue !important;
        font-size:26px !important;
    
      }
  }


  
.top-starts{
    text-align: center;
    font-size: 24px;
}
  .delete-option{
    display: flex;
    gap:20px
  }
.css-1c99szj-MuiRating-icon {
color: #EEEEEE !important;
z-index: -2 !important;
}
