:root {--light-shadow: 0 5px 15px rgba(0, 0, 0, 1.5);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 2);}
.Teamteam::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // box-shadow: var(--light-shadow);

}

.Teamteam::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Teamcontainer {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.Teamcontainer .card {
  position: relative;
  width: 300px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 1.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.Teamcontainer .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  transition: 0.5s;
}

.Teamcontainer .card:hover .content {
  opacity: .5;
  transform: translateY(-20px);
}

.Teamcontainer .card .content .imgBx {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid rgba(255, 255, 255, 0.63);
}

.Teamcontainer .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Teamcontainer .card .content .contentBx h3 {
  color: #ffffffaf;
  // text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.Teamcontainer .card .content .contentBx  .ss {
  color: #ffffff83;
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
  // text-decoration: underline;
  //   text-decoration-color:#ffffff83;
  //   text-decoration-thickness: 2px;
  }


.Teamcontainer .card .sci {
  position: absolute;
  align-items: center;
  justify-content: center;

  bottom: 30px;
  display: flex;
}

.Teamcontainer .card .sci li {
  align-items: center;
  justify-content: center;

  // list-style: none;
  margin: 0 20px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.1s * var(--i));
}

.Teamcontainer .card:hover .sci li {
  transform: translateY(0px);
  opacity: 1;
}

.Teamcontainer .card .sci li a {
  color: #fff;
  font-size: 24px;
}