@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);



/*/ start count stats /*/

section#counter-stats {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.stats {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.stats .fa {
  color: #008080;
  font-size: 60px;
}

/*/ end count stats /*/

.rowNums{
    display: flex;
    justify-content: center;
    /* margin: auto; */
    width: 90%;
    padding: 90px 0;
    margin: auto;
}

.number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 25%;
    text-align: center;
    gap: 30px;

}

.number img{
    width: 100px;
    
}
.nums-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
}
.nums-title{
   
    text-align: center;
}

.nums-title h2{
    font-size: 82px;
    font-family: 'Unna', serif; 

    color: #ffffff ;
   color: #fca41c;

    font-weight: 700;

}
.nums-title p{
font-size: 20px;
width: 60%;
margin: auto;
color: #ffffff ;
font-family: 'Unna', serif; 

}
.number p{
    font-size: 48px;
    font-weight: 700;
   font-family: 'Unna', serif; 

   color: #ffffff ;
    

}

.number h3{
    font-size: 42px;
    font-family: 'Cinzel', serif;
}

section#counter-stats {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.stats {
  text-align: center;
  /* font-size: 35px; */
  /* font-weight: 700; */
  /* font-family: 'Montserrat', sans-serif; */
}

.stats .fa {
  color: #008080;
  font-size: 60px;
}
.counting{
    font-size: 80px;
    font-weight: 600;
    color: #ffffff;
    font-family: 'Unna', serif; 
   color: #fca41c;



}