@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair&display=swap');


  .navbar.navbar-expand-lg.navbar-dark.bg-dark{
    background: rgba(0, 0, 0, 0) !important;
    padding: 0px; 
   margin: 0; 
    font-size: 18px;
    transition: background-color 0.3s ease ;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    color: #000000;
    
font-family: 'Playfair', serif;
transition: 600ms ease-in;

  }

 
  .nav-link:focus, .nav-link:hover{
    color: #fca41c !important;
    font-weight: 700;
  }
  .navbarBrand{
    font-size: 34px !important;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    color: #000000 !important;
  }
  .header-scroll.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    background-color: #001319 !important;
    transition: 600ms ease-in;
    .nav-link{
      color: #ffffff !important;
    }

    .nav-link:focus, .nav-link:hover{
      color: #fca41c !important;
      font-weight: 700;
    }
   .navbarBrand{

    color: #ffffff !important;
  }
  }

  .navbar .container{
    width: 100%;
  
  }


/* .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1620px;
} */

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1400px !important;
    }
}
.nav-link{
  color: #171717 !important;

}