.jmap{
    // width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap:10px;
  


    .jmap-img{
        width: 650px;
        height:650px;
        
    }
    .jmap-text{
        width: 50%;
        color: #fff;
        font-size: 24px;
        font-family: 'Cormorant Garamond', serif;;
        .jmap-h2{
            font-family: 'Unna', serif; 
            font-size: 52px;
            color: #fca41c;
            margin-bottom: 40px;
        }
    }

    .jmap-svg{
        position: absolute;
        rotate: 90deg;
        left: -640px;
        bottom:  0px;
        // width: 60px;
    }


}

.jmap-contain{
  position: relative;
  width: 80%;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
    
 


}

.waves22{
    width: 100%;
    height: 100px;
    rotate: 180deg;
  }