.ssss {
  overflow: hidden;

  label {
 
        font-size: 18px; 
        font-family: "Lugrasimo", cursive;
        font-family: "Playfair", serif;
        font-weight: 600;
        color: #FCA41C ;
        padding: 15px 10px 10px 10px;
     
  }

  .desc {
    font-size: 17px;
   
    font-family: "Unna", serif;
    overflow: hidden;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

   .star {
    color: gold;
  }

 .username {
    font-size: 14px;
  }

  .date {
    font-size: 12px;
  }

  form {
    // width: 450px;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgba(88, 87, 87, 0);
  }

   input {
    border: none;
    border-radius: 7px;
    height:40px;
    padding-left: 10px;
    border-bottom: 1px solid gray;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 14px;
    color: rgb(161, 161, 161);
  }

   input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }

   textarea {
    border-radius: 7px;
    padding: 10px 0 0 10px;
    border: none;
    border-bottom: 1px solid gray;
  }

 .submitButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgba(255, 99, 71, 0);
    border: 2px solid #FCA41C;
    cursor: pointer;
    margin-top: 30px;
    width: 200px;
    font-size: 14px;
    height: 40px;
  }

  .buttons,
  .logout {
    position: absolute;
    top: 10px;
    right: 10px;
  }

   .button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
  }

   .button:focus {
    outline: none;
  }

  
.pr{
  display: flex;
  gap: 20px;
  // align-items: center;
  // justify-content: center;
}
  

  .mapboxgl-popup-content {
    width: 600px !important;
    padding: 27px;
    border-radius: 25px !important;
    background: #001319db;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: aliceblue;
    height: auto;
    min-height: 520px;
  
    // overflow-y: scroll;
   
  }
.mapcard {
    height: 400px !important;
    // min-height: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 430px !important;
    border-radius: 10px !important;
    font-family: "Lugrasimo", cursive;
    gap: 10px;
  
}
.mapboxgl-popup-close-button{
  font-size: 30px; 
  color: red;
  cursor: pointer; 
  // position: absolute;
  font-weight:bold ;
  top: 10px; 
  right: 20px;
}
  .restinfoo {
    // margin: 30px 20px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .place {
    font-size: 24px;
    color: #FCA41C;
    text-align: center;
    font-family: "Lugrasimo", cursive;
    font-weight: 900;
    font-family: "Unna", serif;
    // margin-top: 30px;
  }

  .mapcard img {
    border-radius: 30px 0 !important;
    max-width: 400px;
    max-height: 400px;
    align-self: center;
  }

  // .mapform {
  //   display: grid;
  //   grid-template-columns: 1fr;
  //   gap: 15px;
  //   max-width: 450px; 
  //   width: 360px !important;
  //   height: 60dvh;

  //   margin: 0 auto;
  //   padding: 15px;
  //   background: rgba(255, 255, 255, 0);
  //   border-radius: 12px;
  //   box-shadow: 0 4px 20px rgba(0, 0, 0, 0);
  //   backdrop-filter: blur(3px);
  //   -webkit-backdrop-filter: blur(3px);
  //   border: 1px solid rgba(0, 0, 0, 0);
  // }
  
  // .mapform form {
  //   display: grid;
  //   gap: 10px;
  // }
  
  // .mapform form label {
  //   font-size: 17px; 
  //   font-family: "Lugrasimo", cursive;
  //   font-family: "Playfair", serif;
  //   font-weight: 600;
  //   color: #FCA41C ;
  // }
  
  // .mapform form input,
  // .mapform form textarea,
  // .mapform form select {
  //   border: 1px solid;
  //   border-radius: 6px; 
  //   padding: 4px 8px; 
  //   font-size: 12px; 
  // }
  
  // .mapform form input::placeholder,
  // .mapform form textarea::placeholder {
  //   font-size: 12px; 
  //   padding: 4px 8px; 
  //   color: rgb(0, 27, 52);
  // }
  
  // .mapform form button {
  //   height: 30px; 
  //   font-size: 14px; 
  //   border-radius: 6px; 
  //   background-color: rgb(0, 29, 58);
  //   color: rgb(255, 255, 255);
  // }
  
  // .mapform form select {
  //   height: 28px; 
  // }

  .two-inputs{
    display: flex;
    align-items: center;
    margin-top: 20px;
    select{
      height: 38px; 
      width: 170px;
      border-radius: 7px;
      order: none;
    border-radius: 7px;
    height: 40px;
    padding-left: 10px;
   font-size: 14px;
  
    }
    input{
      width: 120px;
     
    }
    // justify-content: center;

  }
  
 
  .stars{
    color:yellow
  }
  .map-container {
    translate: 127px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Adjust the width as needed, for example, 90% of the viewport width */
    height: 90vh; /* Adjust the height as needed, for example, 90% of the viewport height */
    max-width: 1200px; /* Set a maximum width to prevent it from getting too wide */
    max-height: 1000px; /* Set a maximum height to prevent it from getting too tall */
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}




  .sidenavbar-container {
    position: fixed;
    width: 20vw;
    // margin-top: 70px;
    margin-left: 1vh;
    border-radius: 40px;
    overflow: hidden;
  }

  .mapboxgl-popup-anchor-left{
// max-width: 750px !important;
min-height: 62dvh;

  }
}
