@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Encode+Sans+Condensed:wght@500&family=Inclusive+Sans&family=Jost:wght@200&family=Merriweather+Sans:wght@300&family=Montserrat:wght@300&family=Noto+Serif:ital@1&family=Oswald&family=Poppins:wght@100;300;400;800&display=swap");
.ooooo {
  font-family: "Merriweather Sans", sans-serif;
  .nav-adminLaith {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .inner {
    display: grid;
    grid-template-columns: 250px 1fr 355px;
    height: 100vh;
  }

  li {
    list-style: none;
  }

  /* SIDE BAR */
  #nav {
    display: grid;
    grid-template-rows: 100px 1fr;
    background: #202443;
  }

  #nav.active {
    display: grid;
  }

  .nav__container--logo {
    display: flex;
    align-items: center;
    justify-self: center;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    border-radius: 7px;
    color: #fff;
    background-color: #6f32ff;
  }

  .nav__container--logo h1 {
    font-size: 22px;
    color: white;
    padding-left: 10px;
  }

  .nav-links {
    display: grid;
    grid-template-rows: repeat(auto-fit, 50px);
    align-content: center;
  }

  .nav-links li {
    justify-self: center;
    align-self: center;
    color: #fff;
    cursor: pointer;
  }

  .nav-links li:not(:nth-child(1)) {
    color: #5b607e;
  }

  .menu {
    display: none;
    position: absolute;
    top: 30px;
    left: 40px;
    justify-content: center;
    align-items: center;
    height: 23px;
    width: 30px;
    cursor: pointer;
  }

  .menu .line {
    height: 3px;
    width: 100%;
    background: #f1f1f1;
    border-radius: 4px;
  }

  .menu::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4px;
    top: 0;
    height: 3px;
    width: 100%;
    background: #f1f1f1;
  }

  .menu::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4px;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #f1f1f1;
  }

  /* Main */
  main {
    display: grid;
    grid-template-rows: 100px max-content max-content 1fr;
    background-color: 252849;
    padding: 0 20px;
  }

  /* Main col 1 */
  .main__col--1 {
    align-self: center;
  }

  .main__col--1 h2 {
    font-weight: bold;
    font-size: 30px;
    color: #fca41c;
  }

  /* Main col 2 */
  .main__col--2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  .box {
    display: flex;
    background-color: #052630c2;
    border-radius: 27px;
    padding: 20px;
    box-shadow: 0 3px 19px rgb(0 0 0 / 3%);
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .box:hover {
    transform: translateY(-5px);
  }
  .flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 162px;
    z-index: 0;
  }
  .iconify {
    font-size: 20px;
  }

  .single-chart {
    width: 150px;
    justify-content: space-around;
  }

  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }

  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }

  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }

  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }

  .circular-chart.orange .circle {
    stroke: #0f7224;
  }

  .circular-chart.green .circle {
    stroke: #b93818;
  }

  .circular-chart.blue .circle {
    stroke: #2219a8;
  }

  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }
  .box--logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #0f7224;
    border-radius: 9px;
  }

  .box--2 .box--logo {
    background-color: #b93818;
  }

  .box--3 .box--logo {
    background-color: #2219a8;
  }

  .box--content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
    p {
      margin-bottom: 0;
    }
  }

  .box--title {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .box--number {
    font-size: 18px;
    font-weight: bold;
    color: #5b607e;
  }

  .main__col--3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 30px 0;
    height: auto;
  }
  .main__col--4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 20px 0;
    height: auto;
    h1 {
      color: #fca41c;
    }
  }

  .graphic--container {
    padding: 20px;
    border-radius: 9px;
    background-color: #001319;
  }

  .graphic--container h3 {
    color: #fff;
    font-weight: bold;
  }

  .graphic--container img {
    width: 350px;
  }

  .recap--number {
    padding: 25px 20px;
    border-radius: 9px;
    background: rgb(81, 129, 238);
    background: linear-gradient(
      115deg,
      rgba(81, 129, 238, 1) 24%,
      rgba(82, 130, 239, 1) 74%
    );
    color: white;
  }

  .recap--number h5 {
    font-size: 13px;
    font-weight: lighter;
  }
  .img-chartt {
    display: block;

    margin-left: 200px;
    width: 500px;
    height: 275px;
  }

  .recap--number span {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin: 20px 0;
  }

  /* ASIDE */
  aside {
    padding: 20px 20px;
    overflow: hidden;
  }
  #sidebar {
    // background-color: #052630c2;
    color: #fff;
    padding: 20px;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
  }

  .sidebar__container--logo {
    text-align: center;
    margin-bottom: 20px;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
    background-color: #fff;
    color: #333;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  .sidebar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar-btn {
    background-color: #001319;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    width: 150px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .sidebar-btn:hover {
    background-color: #777;
  }

  .card--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 9px;
    background: rgb(253, 173, 175);
    background: linear-gradient(
      115deg,
      rgba(253, 173, 175, 1) 13%,
      rgba(247, 149, 173, 1) 30%,
      rgba(167, 152, 230, 1) 74%
    );
    color: #fff;
    padding: 25px;
    margin: 30px 0;
    height: 190px;
    max-width: 350px;
  }

  .card--container p {
    font-size: 14px;
    font-weight: lighter;
  }

  .balance {
    font-size: 35px;
    font-weight: bold;
  }

  .transaction--container h3 {
    color: white;
    font-size: 22px;
    font-weight: bold;
  }

  .transaction {
    display: flex;
    margin: 20px 0;
    cursor: pointer;
  }

  .transaction.translate {
    background: #001319;
    padding: 10px;
    border-radius: 9px;
    transform: rotate(-3deg);
    box-shadow: 0 3px 19px rgb(0 0 0 / 3%);
  }

  .logo-grow {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    background: #083f50c2;
    background: linear-gradient(#052630c2);
    height: 50px;
    width: 50px;
  }

  .transaction--infos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
  }

  .transaction--infos h6 {
    color: white;
    font-weight: bold;
    font-size: 16px;
  }

  .transaction--infos p {
    color: #595d7c;
    font-size: 13px;
  }

  /* Responsive */
  @media screen and (max-width: 1213px) {
    #nav {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 999;
    }

    .menu {
      display: flex;
      z-index: 10000;
    }

    .inner {
      grid-template-columns: 2fr 1fr;
    }

    .main__col--1 h2 {
      text-align: center;
    }
  }

  @media screen and (max-width: 860px) {
    .inner {
      grid-template-columns: 1fr;
    }
  }

  @media screen and (max-width: 595px) {
    .main__col--2,
    .main__col--3 {
      grid-template-columns: 1fr;
    }
  }
  .owner-dashboard {
    display: flex;
    justify-content: space-between;
  }

  .notifications {
    overflow-y: auto;
    height: 90%;
    background-color: #0f0909;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
  }

  .notifications p {
    margin: 0 0 10px;
    padding: 10px;
    background-color: #165769;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .notifTitlE {
    font-size: 25px;
    color: #fca41c;
  }

  /* Optional: Add some additional styles for better readability */
  .notifications p:nth-child(even) {
    background-color: #165769;
  }

  .notifications p:hover {
    background-color: #1e83b3;
  }
  .offlineffff {
    color: #fca41c;
    font-weight: 500;
  }

  //==========================================================================

  .simple-bar-chart {
    --line-count: 10;
    --line-color: currentcolor;
    --line-opacity: 0.25;
    --item-gap: 2%;
    --item-default-color: #060606;

    height: 14rem;
    display: grid;
    grid-auto-flow: column;
    gap: var(--item-gap);
    align-items: end;
    padding-inline: var(--item-gap);
    --padding-block: 1.5rem; /*space for labels*/
    padding-block: var(--padding-block);
    position: relative;
    isolation: isolate;
  }

  .simple-bar-chart::after {
    content: "";
    position: absolute;
    inset: var(--padding-block) 0;
    z-index: -1;
    --line-width: 1px;
    --line-spacing: calc(100% / var(--line-count));
    background-image: repeating-linear-gradient(
      to top,
      transparent 0 calc(var(--line-spacing) - var(--line-width)),
      var(--line-color) 0 var(--line-spacing)
    );
    box-shadow: 0 var(--line-width) 0 var(--line-color);
    opacity: var(--line-opacity);
  }
  .simple-bar-chart > .item {
    width: 80%;
    height: calc(1% * var(--val));
    background-color: var(--clr, var(--item-default-color));
    position: relative;
    animation: item-height 1s ease forwards;
  }
  @keyframes item-height {
    from {
      height: 0;
    }
  }

  .simple-bar-chart > .item > * {
    position: absolute;
    text-align: center;
  }
  .simple-bar-chart > .item > .label {
    inset: 100% 0 auto 0;
  }
  .simple-bar-chart > .item > .value {
    inset: auto 0 100% 0;
  }

  .contacenti {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    h2 {
      font-size: 40px;
      color: #fca41c;
      margin-top: 20px;
    }
    .bookingListOwner {
      padding: 10px 0px;
      width: 100%;
      height: 85%;
      border: 1px solid white;
      margin: auto;
      border-radius: 10px 0px 0px 10px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      background-color: black;
      overflow: auto;
      
      .listELEmenTT {
        padding-bottom: 20px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 98%;
        // height: 15rem;
        border: 1px solid white;
        border-radius: 10px;
        padding: 10px;
        transition: 0.2s ease;
        background-color: #1657696b;
        display: flex;
        gap: 20px;
        align-items: center;
        &:hover {
          background-color: #165769;
        }
        .titleELE {
          font-size: 35px;
          color: #fca41c;
        }
        .usernameeeee {
          .hihello {
            color: #fca41c;
          }
        }
        .howmanyyyyyy {
          background-color: #1e84b35c;
          width: fit-content;
          height: fit-content;
          border-radius: 20px;
          padding: 5px;
          position: absolute;
          right: 10px;
          bottom: 50px;
        }
        .iconlaith {
          margin-right: 10px;
          padding: 0px 5px;
        }
        .daaaatttteeee {
          margin-top: 3px;
          background-color: #1e84b35c;
          width: fit-content;
          height: fit-content;
          padding: 5px;
          border-radius: 20px;
          position: absolute;
          right: 10px;
          bottom: 10px;
        }
        .imglistOwner {
          width: 200px;
          height: 150px;
          border: 1px solid white;
          border-radius: 10px;
        }
      }
    }
  }
  // .mappplaithttttt{
  //   width: 10px;
  //   overflow: hidden;
  // }
}
